---
import "@/styles/globals.css";
// import { Image } from "astro:assets";
// import houseImage from "@/assets/house-image.jpeg";
// import NoBghouseImage from "@/assets/no-bg-removebg-preview.png";
import Layout from "../layouts/Layout.astro";
import { Search, PanelTop, Store,SquareLibrary } from "lucide-astro";
import StatementCard from "@/components/build/StatementCard.astro";
---

<Layout title="Crest properties - Home">
  <div class="relative bg-footer-bg text-white">
    <section class="relative bodySize h-screen-minus-48">
      <div
        class="w-full md:w-1/2 max-w-full flex flex-col items-start justify-center h-full md:pr-10"
      >
        <h1 class="text-5xl font-medium mb-4 leading-tight">
          Unlock Opportunities: Rent, Buy, and Invest
        </h1>
        <p class="mb-6">
          Explore a wide range of properties for rent, sale, and investment
          opportunities. Find the perfect location for your new home or
          investment venture.
        </p>
        <div class="relative w-full">
          <Search
            class="absolute left-2 text-black top-1/2 transform -translate-y-1/2 h-7 w-7"
          />
          <input
            type="text"
            placeholder="Search location"
            class="w-full pl-10 text-neutral-800 pr-4 py-3.5 rounded-full shadow-md placeholder:text-neutral-700"
          />
          <button
            class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-black text-white px-6 py-2 rounded-full"
          >
            Search
          </button>
        </div>
      </div>

      <!-- <Image
        src={NoBghouseImage}
        alt="House Image"
        class="house-image"
        class="absolute top-0 right-0 bottom-0 w-1/2 max-w-full h-full"
      /> -->
    </section>

    <div>
      <!-- <svg
      class="absolute bottom-0 z-[1000]"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 600 600"
      opacity="1"
      ><path
        d="M600.196081105403 625.1225016678062C613.9215754901686 592.9656362299806 602.6797440285801 462.1159607335614 600.196081105403 431.3970072830406C597.7124181822259 400.67805383251977 589.9999853208977 436.36433821565777 585.2941035663405 440.8087809646812C580.5882218117832 445.25322371370464 576.6666723326165 452.44274804638695 571.9607905780592 458.0636637771812C567.254908823502 463.68457950797546 562.679733856054 469.8283885086265 557.0588130389967 474.53427534944683C551.4378922219395 479.24016219026714 542.9411474302727 481.2009471023765 538.2352656757155 486.2989848221031C533.5293839211582 491.39702254182964 532.6143652037102 498.97871301220727 528.823522511653 505.1225016678062C525.0326798195957 511.26629032340514 520.0653743182936 519.2401469314781 515.4902095233717 523.1617167556968C510.91504472844986 527.0832865799156 508.82351742539 526.6911357010093 501.37253374212173 528.6519206131187C493.9215500588535 530.6127055252281 482.94116777532486 533.3578023676761 470.78430742376236 534.9264262283531C458.62744707219986 536.4950500890302 443.33333391302017 537.5407908523765 428.43137163274673 538.0636637771812C413.5294093524733 538.5865367019859 395.2287450865228 537.4100688064781 381.37253374212173 538.0636637771812C367.51632239772067 538.7172587478843 359.0195928648431 539.7630045974937 345.2941035663405 541.9852336014C331.56861426783786 544.2074626053062 311.83005327337173 548.5212239985353 299.0195979511061 551.3970378006187C286.2091426288405 554.2728516027021 278.3660106097975 555.7107076411135 268.43137163274673 559.2401164139C258.49673265569595 562.7695251866865 251.56862698349542 568.3904765213218 239.41176408880142 572.5734904373375C227.25490119410742 576.7565043533531 208.69280809514908 582.3774149978843 195.49019426458267 584.3381999099937C182.28758043401626 586.2989848221031 171.69934902939386 586.1682678624677 160.19608110540298 584.3381999099937C148.6928131814121 582.5081319575197 137.973855916194 576.8872111404625 126.47058672063736 573.35779219515C114.96731752508072 569.8283732498375 101.63398228439875 567.867567992676 91.17646593206314 563.1616862381187C80.71894957972752 558.4558044835615 71.0457496082106 551.0048513178713 63.725488606623685 545.1225016678062C56.40522760503677 539.240152017741 53.26797161850519 533.4885040685223 47.254899922541654 527.8675883377281C41.241828226578114 522.2466726069338 34.44444364660171 516.102889037598 27.647058430842435 511.3970072830406C20.849673215083158 506.69112552848327 10.261438194445645 480.0244537755536 6.47058862798599 499.63229781038433C2.679739061526334 519.240141845215 2.026144051086779 607.8676035965171 4.9019610320845 629.044071492025C7.777778013082221 650.2205393875328 14.836601956220344 627.3447001541343 23.725490513972318 626.6911051834312C32.614379071724294 626.0375102127281 46.86274363948095 625.1225016678062 58.23529237859634 625.1225016678062C69.60784111771174 625.1225016678062 79.80391941818782 626.6911051834312 91.9607829486647 626.6911051834312C104.11764647914158 626.6911051834312 116.66667106105076 624.730340616374 131.17647356145767 625.1225016678062C145.68627606186456 625.5146627192385 160.98038286321548 629.044071492025 179.0195979511061 629.044071492025C197.05881303899673 629.044071492025 219.93464209986914 626.1682576899416 239.41176408880142 625.1225016678062C258.88888607773373 624.0767456456708 278.23527330511 622.9002523188478 295.88232988469986 622.7695353592125C313.5293864642897 622.6388183995771 326.86272742701755 623.9460388585615 345.2941035663405 624.3381999099937C363.7254797056634 624.730360961426 385.55555274440036 624.9917847081708 406.47058672063736 625.1225016678062C427.38562069687435 625.2532186274416 452.22221941106704 625.2532186274416 470.78430742376236 625.1225016678062C489.34639543645767 624.9917847081708 496.2744858498691 624.3381999099937 517.8431147968092 624.3381999099937C539.4117437437493 624.3381999099937 586.4705867206374 657.2793671056318 600.196081105403 625.1225016678062C613.9215754901686 592.9656362299806 602.6797440285801 462.1159607335614 600.196081105403 431.3970072830406 "
        fill="hsl(0, 0%, 100%)"
        stroke-width="1"
        stroke="hsl(305, 77%, 80%)"></path></svg
    > -->
    </div>

    <div class="bg-[#A28EDC] " >
      <section class="bodySize grid grid-cols-1 md:grid-cols-3 gap-6 py-16 px-4">
        <StatementCard title="OUR MISSION" description="To simplify property searches by offering a user-friendly platform with accurate listings and exceptional support, making finding your perfect home easy and enjoyable." icon={PanelTop} />
        <StatementCard title="OUR VISION" description="To be the top real estate platform, transforming property searches with innovative technology and global reach, creating a connected and transparent real estate market." icon={Store} />
        <StatementCard title="OUR CORE VALUES" description="We uphold integrity, embrace innovation, prioritize our users, strive for excellence, and value collaboration." icon={SquareLibrary} />
      </section>
    </div>
  </div>
</Layout>
