---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import '@/styles/globals.css'
---

<Layout title="Welcome to Astro.">
<p class="text-4xl">Hello tailwind astro guys</p>
<Button>Hello World</Button>
</Layout>

<style>


</style>
