---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crest properties - Home">
  <div class="bodySize py-20 px-4">
    <p>Listings</p>
  </div>
</Layout>
