---
import AgentLayout from "@/layouts/AgentLayout.astro";
---

<AgentLayout>
  <div class="h-full w-full px-2">
    <div class="bg-set-foreground w-full h-full rounded">
      <header class="bg-white w-full rounded p-4 shadow-sm border">
        Create new property
      </header>

      <section class="px-1 py-4">
        <div class="p-4 bg-white">
          Hello
        </div>
      </section>
    </div>
  </div>
</AgentLayout>
